@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 400px;
  height: 440px;
  margin-left: 0;
  margin-right: 0;
}

.swiper-slide {
  height: calc((100% - 0px) / 5) !important;
}